Package: gtkterm-dbgsym
Package-Type: ddeb
Source: gtkterm
Version: 1.1.1-16
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Willem van den Akker <wvdakker@wilsoft.nl>
Installed-Size: 139
Depends: gtkterm (= 1.1.1-16)
Section: debug
Priority: optional
Description: debug symbols for gtkterm
Build-Ids: 237db7479c45ac60df05b4f94de72059746f7e57
