Package: gtkterm-dbgsym
Package-Type: ddeb
Source: gtkterm
Version: 1.1.4-16
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Willem van den Akker <wvdakker@wilsoft.nl>
Installed-Size: 161
Depends: gtkterm (= 1.1.4-16)
Section: debug
Priority: optional
Description: debug symbols for gtkterm
Build-Ids: 52fad38ce517221ed59daa322ebac3509a145d0b
