Package: gtkterm
Version: 1.3.1-1
Architecture: amd64
Maintainer: Willem van den Akker <wvdakker@wilsoft.nl>
Installed-Size: 334
Depends: libc6 (>= 2.34), libgdk-pixbuf-2.0-0 (>= 2.25.2), libglib2.0-0t64 (>= 2.56.0), libgtk-3-0t64 (>= 3.9.10), libgudev-1.0-0 (>= 146), libpango-1.0-0 (>= 1.14.0), libvte-2.91-0 (>= 0.45.90)
Section: comm
Priority: optional
Homepage: https://github.com/wvdakker/gtkterm
Description: simple GTK+ serial port terminal
 gtkterm is a simple GTK+ terminal used to communicate with the serial port.
 .
 Its features :
 .
  * Serial port terminal window
  * Serial port setup (speed, parity, bits, stopbits, flow control)
  * Using the termios API
  * Possible to send a file (only RAW data, no protocol)
  * End of line delay while sending a file
  * Special character wait before next line while sending a file
  * Possible to toggle control lines manually (DTR, CTS)
  * Also reads the state of control lines (RTS, CD, DSR, RI)
 .
  Author:   Julien Schmitt <julien@jls-info.com>
